* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

img,
figure {
    max-width: 100%;
}

/* CELLE */

.cell {
    aspect-ratio: 1 !important; 
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.cell:hover {
    box-shadow: 0px 0px 35px inset lightblue;
    background-color: blue;
}

.cell:active {
    box-shadow: 0px 0px 35px inset blue;
    background-color: lightblue;
}

/* LEVEL BAR */

.logo {
    max-height: 80px;
}

.body .command-bar {
    font-family: sans-serif;
    font-weight: 700;
    height: 90px;
    background-color: cornflowerblue;
    box-shadow: 0 0 15px inset rgb(18, 91, 228);
}

.command-bar :last-child {
    flex-basis: 10%;
}

/* BUTTONS & BADGES */

.command-bar .my-badge {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 10px;
}

/* PLAY BUTTON */

.command-bar-btn {
    line-height: 0 !important;
}

.command-bar-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px white;
}

/* SCORE */

.score {
    background-color: chartreuse;
    border-radius: 10px;
}

/* GAME SPACE */

.game-space {
    background-color: black;
}

.body {
    background-color: black;
}

.grid {
    max-width: 800px;
}

/* WIN CARD */

.game-space {
    position: relative;
}

.you-won {
    width: 70vh;
    border: 2px white;
    border-radius: 50px;
    background-color: cornflowerblue;
    box-shadow: 0 0 30px inset rgb(18, 91, 228);
    font-size: 80px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

.you-won h1 {
    font-size: 48px;
}

.you-won h3 {
    font-size: 30px;
}

.you-won span {
    font-size: 18px;
}